# Chemin vers la clé JSON GCP
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json

# Identifiant i de votre sujet (ex: 3 -> topic ecni2-3)
ECNI2_STUDENT_ID=3

# Projet et Bucket GCP
GCP_PROJECT_ID=ecni2-2026
STORAGE_BUCKET=ecni22026bucket

# Prénom pour Firebase Realtime Database (/votreprenom/heure/filename)
USER_PRENOM=emmanuel
FIREBASE_DATABASE_URL=https://ecni2-2026-default-rtdb.firebaseio.com

# Clés JSON complètes (pour Coolify / Docker)
# GCP_KEY_JSON={"type": "service_account", ...}
# FIREBASE_CONFIG_JSON={"apiKey": "...", "authDomain": "...", "projectId": "...", ...}
